/* body{
    background-color: red;
} */

/* **Adding Box Sizing, Removed all Margin & Padding from the whole page** */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} /* ===Box Sizing Added, Margin & Padding Removal done=== */


/* *************SHARED STYLE************* */

/* Font class for the whole document */
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
} /* Font Styles End */

/* **BUTTON Style Start** */
.btn {
    /* width: 164px; */
    /* height: 44px; */
    padding: 12px 16px 12px 16px;
    background-color: #469165;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    justify-content: right;
}

.btn1 {
    /* width: 164px; */
    /* height: 44px; */
    padding: 12px 16px 12px 16px;
    background-color: #469165;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    justify-content: right;
}

.btn2 {
    padding: 12px 16px 12px 16px;
    background-color: transparent;
    color: green;
    border: 1px solid red;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
} /* ===BUTTON Style End=== */

.cap-color {
    color: #30B868;
} 

.cap-color-white {
    color: red;
} /* ===H1 titles Style End=== */



/* **************MAIN STYLE************** */

/* **Header Styles Start** */
header {
    background-color: #ffffff;
    padding: 0;
}


/* **NAV Style Start** */
nav {
    width: 100%;
    max-width: 2560px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

nav .logo-navbar {
    display: flex;
    border-left: 120px solid transparent;
}

nav .btn-early-access {
    list-style: none;
    border-right: 120px solid transparent;
} 

nav .nav-list {
    display: flex;
    gap: 50px;
    list-style: none;
    font-size: 16px;
    font-weight: 500;
    justify-items: center;
}

nav .nav-list li a {
    text-decoration: none;
    color: #000000;
    transition: all 0.1s ease-in-out;
    align-items: center;
}

nav .nav-list li a:hover {
    color: #469165;
} /* ===NAV Style End=== */


/* **Header Styles Start** */

#big-banner {
    max-width: 2560px;
    /* border: 1px solid red; */
    background: url(assets/hero-bg.png);
    height: 674px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.top-title {
    font-size: 16px;
    font-weight: medium;
    color: #30B868;
    margin-bottom: 16px;
    /* border: 1px solid red;  */
    background-color: #ffffff;
    max-width: 500px;
    padding: 8px;
    border-radius: 1000px;
}

.title-div {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ban-desc {
    /* border: 1px solid red; */
    font-size: 18px;
    font-weight: 400;
    color: red;
    margin-top: 24px;
    margin-bottom: 32px;
    line-height: 1.6;
    max-width: 800px;
    text-align: center
}

.main-title {
    font-size: 72px;
    font-weight: 700;
    margin-bottom: 24px;
    max-width: 800px;
    text-align: center;
    /* border: 1px solid red; */
}

