/* body{
    background-color: red;
} */

/* **Adding Box Sizing, Removed all Margin & Padding from the whole page** */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} /* ===Box Sizing Added, Margin & Padding Removal done=== */


/* *************SHARED STYLE************* */

/* Font class for the whole document */
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
} /* Font Styles End */

/* **BUTTON Style Start** */
.btn {
    /* width: 164px; */
    /* height: 44px; */
    padding: 12px 16px 12px 16px;
    background-color: #469165;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    justify-content: right;
}

.btn2 {
    padding: 12px 16px 12px 16px;
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
} /* ===BUTTON Style End=== */



/* **************MAIN STYLE************** */

/* **Header Styles Start** */
header {
    background-color: #ffffff;
    padding: 0;
}


/* **NAV Style Start** */
nav {
    width: 100%;
    max-width: 2560px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

nav .logo-navbar {
    display: flex;
    border-left: 120px solid transparent;
}

nav .btn-early-access {
    list-style: none;
    border-right: 120px solid transparent;
} 

nav .nav-list {
    display: flex;
    gap: 50px;
    list-style: none;
    font-size: 16px;
    font-weight: 500;
    justify-items: center;
}

nav .nav-list li a {
    text-decoration: none;
    color: #000000;
    transition: all 0.1s ease-in-out;
    align-items: center;
}

nav .nav-list li a:hover {
    color: #469165;
} /* ===NAV Style End=== */


